.jumbotron {
  background-color: #000000;
  color: #ffffff;
  margin-top: 50px;
  margin-bottom: 0px;
}
.btn {
  background-color: #1f5c7d;
  color: #ffffff;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #000000;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 10px;
}
.cartel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserved {
  width: 100%;
  border-radius: 0px;
}
.footer-adress-icon {
  padding-right: 10px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
}
.btn-secondary {
  background-color: #30b355;
  color: #ffffff;
  padding-top: 10px;
}
